@import 'vars';
@import 'global';
@import 'fonts';
//start header
.header {
}
.header_top {
}

.header_inner {
    display: flex; 
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header_logo {
}
.header_text {
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header_phone {
}
.header_box {

}
.bassket {
}
.header_btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}
.header_btn-login{
    background-color: $green;
}
.header_btn-register{
    background-color: $red;
    margin-left: 7px;
}
.header_menu {
    background-color: $bg;
   
    
}
.menu {
    
    display: flex;
    align-items: center;
    
     height: 60px;
}
.menu_list {
    li{
        display: inline-block;
        
        & + li{
            margin-left: 30px;
        }
        a{
            color: #ffffff;
            @include f500;
            font-size: 14px;
        }
    }
}
//end header

//start search
.search {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}

.search-inner {
    padding: 155px 0px 100px;
    text-align: center;
    color: #ffffff;
    &-title{
        
        font-size: 48px;
        
        margin-bottom: 10px;
        line-height: 72px;
    }
    &-text{
        margin-bottom: 50px;
        @include f500;
        font-size: 20px;
        line-height: 30px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            border-radius: 4px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            outline: none;
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder{
                color: #99abb4;
              
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 16px;
            
            outline: none;
            &:focus,
            :hover{
                outline: none;
                cursor: pointer;
            }
        }
    }
}
//start product
.product {
    padding: 110px 0 ;
    background-color: $grey;
}

.products_inner-btn {
    text-align: center;
    margin-bottom: 60px;
    @include f500;
    button{
        outline: none;
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + button{
            margin-right: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}
.products_inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.products_item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    

    
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
        align-items: center;
        min-height: 90px;
        font-weight: 500;
        border-bottom: 1px solid #e3e9f4;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        color: $bg;
        font-size: 18px;
        display: block;
    }
    &-category{
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-price{
        color: #111d57;
        font-size: 20px;
        color: $bg;
        font-weight: 700;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author{
       display: flex;
       align-items: center;
       max-width: 245px;
        
        .avatar{
             width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            color: #546e7a;
            margin-right: 14px;
        }
        span{
            font-size: 14px;
            font-weight: 500;
        }
        &-star{
            font-size: 12px;
            span{
                color: $bg;
            }
        }
    }
}

.product_bottom-btn{
    text-align: center;
    
    button{
        margin-top: 45px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
     background-color: rgb(255, 255, 255);
     border: none;
     color: $bg;
     padding: 20px 30px;
     cursor: pointer;
     outline: none;
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}
.rate-star{
    display: inline-block;
    margin-right: 13px;
}
//end product

//start slider
.product-slider{
    padding: 110px 0px 120px;
    .slick-dots{
        text-align: center;
        margin-top: 50px;
        li{
            display: inline-block;
            &.slick-active{
                button{
                    background-color: $green;
                }
            }
            button{
                border-radius: 50%;;
                border: none;
                background-color: #dfe1ee;
                font-size: 0;
                width: 16px;
                height: 16px;
                outline: none;
                margin-left: 3px;
                margin-right: 3px;
                cursor: pointer;
            }
        }
    }
}

//end slider
//start advantages

.advantages{
    background-color: $bg;
    padding: 110px 0px;
}
.advantages_title{
    color: #fff;
}
.advantages_inner{
    display: flex;
    justify-content: space-between;
}
.advantages_item{
    max-width: 370px;
    text-align: center;
    padding: 0px 15px;
    
    &:hover{
        .advantages_item-img{
            transition: all .3s;
            background-color: $green;
            g{
                fill: #fff;
            }
            
        }
        .advantages_item-title{
            transition: all .3s;
            color: $green;
        }
    }
    &-img{
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
    }
    &-title{
        margin-bottom: 25px;
        color: #fff;
        @include f500;
        font-size: 24px;
    }
    &-text{
        font-size: 15px;
        color: #a9b7be;
    }
}
.ico-three{
    svg{
        width: 86px;
        padding-top: 10px;
    }
}
.ico-two{
    svg{
        width: 70px;
    }
}
.ico-one{
    svg{
        width: 50px;
    }
}
//end advantages